/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #453ea1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #453ea1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #453ea1;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

body {
  box-sizing: border-box;
  background: #cdecff70;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.8fr;
  grid-template-areas:
    " nav nav nav"
    " main main main";
}



.navbar {
  background: #cdecff;
  grid-area: nav;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  z-index: 2;
  border-bottom: 1px solid lightgray;
}


#logo{
  width: 150px;
  height: auto;
  cursor: pointer;
 }
  
#logo:hover{
  transform: scale(1.1);
}


.navbar_right{
  display: flex;   
}

.navbar_right img{
 width: 40px;
 border-radius: 5px;  
}



.navbar_right .icon_wrap{
 cursor: pointer; 
}

.navbar_right .profile{
 position: relative;  
}

.profile .profile_dd{
 position: absolute;
 z-index: 99;
 top: 48px;
 right: -15px;
 user-select: none;
 background: whitesmoke;
 border-radius: 5px;
 height: auto;
 width: 500px;
 display: none;
 border-radius: 3px;   
 box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.575),
             -10px -10px 35px rgba(0,0,0,0.125);
}


.profile .profile_dd:before{
   content: "";
   position: absolute;
   top: -20px;
   right: 15px;
   border: 10px solid;
   border-color: transparent transparent #fff transparent;
    
}

.navbar_right .profile .icon_wrap{
 display: flex;
 align-items: center;  
}

.navbar_right .profile .number{
 display: inline-block;
 margin: 0 10px;
 font-weight: 700;   
}

.navbar_right .profile .name{
 display: inline-block; 
 font-weight: 500;
}

.navbar_right .icon_wrap:hover,
.navbar_right .profile.active .icon_wrap{
 color: #000000;   
} 

.profile .profile_dd{
 width: 225px;   
}
.profile .profile_dd:before{
 right: 10px;   
}

.profile .profile_dd ul li {
 border-bottom: 1px solid #f1f2f4;     
}

.profile .profile_dd ul li  a{
 display: block;
 padding: 15px 35px;
 position: relative;     
}

.profile .profile_dd ul li  a:hover{
 color: black;
 background: #f0f5ff;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
  
}

.profile .profile_dd ul li.profile_li a:hover {
 background: transparent;
 cursor: pointer;
 color: inherit;     
}

.profile .profile_dd ul li .btn{
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background: #386bc8;
  margin: 5px auto 5px; 
}

.profile .profile_dd ul li .btn:hover{
 background: #213f77;   
}

.profile.active .profile_dd{
 display: block;   
}


main {
  background: rgba(0,0,0,0.1);
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 20px 35px;
  display: grid;
  grid-template-columns: 1fr;
}


.main__cards {
  display: grid;
}

.card {
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #3399ff69;
}




.card_inner > h1{
  padding: 5px;
  color: #386bc8; 
  width: 100vh;
  text-align: right;
  margin-left: 120px;
}

#heading{
    margin-top: -10px;
}

#select{
    margin-top: -30px;
    background: none;
    border: none;
}
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-left: 35px;
  padding-right: 35px; 
}

.charts__left {
    padding: 10px; 
    border-radius: 5px;    
}
  
.charts__left__cards {
    display: grid;
    height: 38vh;
}

.charts__right {
  padding: 10px; 
  border-radius: 5px;
}

.charts__right__cards {
  display: grid;
  gap: 20px;
}




/*add courses*/


h6{
    font-size: 14px;
    color:black;
    font-weight:normal;
}
    
.coursebox{
    width: 1fr;   
    border-collapse: collapse;
    background: white;
    border: 1px solid #3399ff69;
}
  
.coursebox .title{
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    background-color: #386bc8;
    text-transform: uppercase;
    text-align: center;    
}

.coursebox .input2
{
  width: 330px;
  outline: none;
  border: 1px solid #54b896;
  font-size: 30px;
  border-radius: 3px;
  transition: all 0.3s ease;
  padding-left:10px ;
  padding-right:10px ;
  background-color: #fdfdfd;
  
}

.coursebox .form{
    padding: 30px;
}
  
.coursebox .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
  
.coursebox .form .inputfield label{
    width: 200px;
    color: black;
    margin-right: 10px;
    font-size: 14px;
}
  
.coursebox .form .inputfield .input,
.coursebox .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #386ac82a;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
  
.coursebox .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
}
  
.coursebox .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}
  
.coursebox .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #0059ffd2 transparent transparent transparent;
    pointer-events: none;
}
  
.coursebox .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #0059ff2a;
    border-radius: 3px;
}
  
  
.coursebox .form .inputfield .input:focus,
.coursebox .form .inputfield .textarea:focus,
.coursebox .form .inputfield .custom_select select:focus{
    border: 1px solid #386ac8;
}
  
.coursebox .form .inputfield p{
     font-size: 14px;
     color: #757575;
}
  
.coursebox .form .inputfield .btn{
    width: auto;
    padding: 10px;
    margin-left: 50%;
    font-size: 15px; 
    border: 0px;
    background:  #386ac8;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-top: 10px;
    margin-bottom: -20px;    
}


  
.btn:active {
    transform: scale(0.98);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.24);
}


/*Photo*/
.photobox{
  width: 85vh;
  padding: 20px;
  border-collapse: collapse;
  background: white;
  border: 1px solid #3399ff69;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.photo{
    text-align: center;
}
.photobox img{
    border: 1px solid #3399ff69;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.detailstext{
   padding:10px ;
}
.photo-title{
    margin-bottom: 10px;
}
  
.photo,
.photo-details{
    float: left;
    overflow:hidden;
}
