<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIS | Home</title>
    <!--Poppins-->
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:display=swap" rel="stylesheet">
    <!--Poppins-->
    <link rel="stylesheet" href="/home_designs/style.css">
    <link rel="icon" href="/logos/logo.png" type="image/icon type">
</head>
<body>

    <div class="container">
        <div class="navbar">         
            <a href="index.html"><img  class="logo" src="/logos/logow1.png" alt="logo" width="150px"></img></a>
            <a href="/login"><button>Login</button></a>            
        </div>

        <div class="home">

            <div class="home_left">
                departmenT informatioN systeM
            </div>
            <div class="home_title">
               <h1>DIS</h1>
            </div>
            <div class="home_right">
                departmenT informatioN systeM
            </div> 
                        
        </div>
        <div class="main">
            <div class="text"></div>
        </div> 

        
       
    </div><!-- Do not delete  -->
<script src="/home_designs/scripts.js"></script>
</body>
</html>